/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  height: 100vh;
  background: linear-gradient(200.96deg, #f8f8f8 -29.09%, #c5ffe9 129.35%);
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

/* button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
} */

#channels {
  border: solid black 1px;
  height: 80vh;
  width: 20vh;
  margin-right: 3px;
  font-size: 11px;
  overflow: auto;
}

#chat {
  border: solid black 1px;
  height: 80vh;
  width: 50vh;
  font-size: 11px;
  overflow: auto;
}

#peers {
  border: solid black 1px;
  height: 80vh;
  width: 20vh;
  margin-left: 3px;
  font-size: 11px;
}

div.inline {
  float: left;
}

#textarea {
  border: solid black 1px;
  height: 10vh;
  width: 81vh;
  margin-top: 2px;
}

#icon {
  text-align: center;
}

#send-message {
  border: solid black 1px;
  height: 10vh;
  width: 10vh;
  margin-top: 2px;
}

.icon {
  max-height: 30px;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  overflow-wrap: break-word;
}

h3.header {
  font-size: medium;
  text-align: center;
  border: 1px black solid;
}

.item {
  border-bottom: 1px rgb(178, 196, 192) solid;
}
