/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  height: 100vh;
  background: linear-gradient(200.96deg, #f8f8f8 -29.09%, #c5ffe9 129.35%);
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  overflow: auto;
}

.mycolumn {
  width: 100%;
  overflow: auto;
  position: relative;
}

#channels {
  border: solid black 1px;
  height: 79vh;
  width: 25%;
  overflow: auto;
  position: relative;
}

#chat {
  border: solid black 1px;
  height: 79vh;
  max-width: 49vw;
  width: 49%;
  overflow: auto;
  position: relative;
}

#peers {
  border: solid black 1px;
  height: 79vh;
  width: 25%;
  position: relative;
}

div.inline {
  float: left;
}

#textarea {
  border: solid black 1px;
  height: 10vh;
  position: relative;
  width: 90%;
  display: inline;
  box-shadow: 0 0 20px #777;
}

#send-message {
  border: solid black 1px;
  height: 10vh;
  width: 9%;
  display: inline;
  /* position: absolute; */
}

#icon {
  text-align: center;
}

#top {
  border: solid black 1px;
  display: flex;
  justify-content: space-between;
  height: 6vh;
  /* background: #fff; */
  /* padding: 60px; */
  box-shadow: 0 0 20px #777;
}

.container {
  position: relative;
  max-height: 500px;
  margin: 0 auto;
}

#key {
  align-items: center;
}

.icon {
  max-height: 30px;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  overflow-wrap: break-word;
}

.overflow {
  overflow-wrap: break-word;
}

h3.header {
  font-size: medium;
  text-align: center;
  border: 1px black solid;
}

.item {
  border-bottom: 1px rgb(178, 196, 192) solid;
}

.pfp-container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-pic {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

#picture {
  position: relative;
  max-height: 6vh;
  border-radius: 50%;
  border: solid 1px black;
}

.pfp {
  max-width: 6vh;
  max-height: 6vh;
  border-radius: 50%;
  border: solid 1px black;
}

.pfp-chat {
  display: inline;
  border: solid 1px black;
  border-radius: 50%;
  max-width: 6vh;
  max-height: 6vh;
}
